@import 'bootstrap/dist/css/bootstrap.css';
@import url('all.min.css');
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "@glidejs/glide/dist/css/glide.core.css";

:root{
    --green: #626B21;
    --darkgreen: #374D29;
    --brown: #8C5532;
    --white:#FCF6F0;
}

@font-face {
    font-family: 'Marquez';
    src: url('../webfonts/Marquez.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "League Spartan", serif;
    background-color: var(--white);
    color: var(--darkgreen);
}

.mt-6{
    margin-top: 6rem !important;
}

.mb-6{
    margin-bottom: 6rem !important;
}

.my-6{
    margin-top: 6ch !important;
    margin-bottom: 6rem !important;
}

.row{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Marquez", serif;
    color: var(--green);
}

.bg-darkgreen{
    background-color: var(--darkgreen);
    color: var(--white);
}

.bg-brown{
    background-color: var(--brown);
    color: var(--white);
}

.bg-white{
    background-color: var(--white) !important;
}

.ff-marquez{
    font-family: "Marquez", serif;
}

.text-brown{
    color: var(--brown);
}

.text-darkgreen{
    color: var(--darkgreen);
}

.le-3{
    letter-spacing: 3px;
}

[data-fancybox]:hover{
    cursor: pointer;
}

.bg-success {
    background-color: var(--green) !important;
}

.btn-brown{
    background-color: var(--brown);
    color: var(--white);
    font-family: "Marquez", serif;
}

.btn-brown:hover{
    background-color: #744427;
    color: var(--white);
}

.btn-green{
    background-color: var(--darkgreen);
    color: var(--white);
}

.btn-green:hover{
    background-color: #233418;
    color: var(--white);
}

.btn-light{
    background-color: var(--white);
    color: var(--darkgreen) !important;
}

.form-control {
    color: var(--bs-body-color);
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

.inventory-img{
    width: 100%;
}


.disponible-class polygon{
    fill: rgba(53, 66, 45, 0.8);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.disponible-class:hover polygon{
    fill: rgba(53, 66, 45, 1);
    transition: 0.2s;
}

.apartada-class polygon{
    fill: rgba(206, 173, 0, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.apartada-class:hover polygon{
    fill: rgba(206, 173, 0, 1);
    transition: 0.2s;
}

.vendida-class polygon, .vendida-himalia{
    fill: rgba(220, 53, 69, 0.7);
    mix-blend-mode: hard-light;
    stroke: white;
    stroke-width: 1px;
    transition: 0.2s;
}

.vendida-class:hover polygon{
    fill: rgba(220, 53, 69, 1);
    transition: 0.2s;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    background-color: #26351c;
    border-radius: 10px;
    border: 1px solid white;
}

.tab-content.plans{

    border: 1px solid var(--darkgreen);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #26351c;
}

.nav-pills .nav-link {
    color: white !important;
}


.glide__slide--active{
	transform: scale(1.25);
	transition: 0.2s;
	z-index: 10;
}

.glide__arrow--left{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5%;
}

.glide__arrow--right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -5%;
}

.svg-home{
    width: 100%;
}

@media (max-width: 992px) {

    .svg-home{
        width: 200%;
    }

    .mt-6{
        margin-top: 3.5rem !important;
    }
    
    .mb-6{
        margin-bottom: 3.5rem !important;
    }
    
    .my-6{
        margin-top: 3.5rem !important;
        margin-bottom: 3.5rem !important;
    }

    .fs-0{
        font-size: 70px;
    }

    .inventory-img{
        width: 200%;
    }

    .glide__slide--active{
		transform: scale(1);
		transition: 0;
	}
	
	.glide__arrow--left{
		left: 0;
	}
	
	.glide__arrow--right{
		right: 0;
	}

}